
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /*background-color: #2196F3;*/
    padding: 10px;
}
.grid-item {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.slide.current {
    /*background: unset;*/
    /*background-color: #3b1;*/

    /*Weird, don't think I actually want to do this. But you can.*/
    /*background-image: url(ecosystem.svg);*/

}

.full-slide-svg{


}


/* Resize images */
.full-slide-image {
    /*transform: scale(0.7);*/
}

header h1 {
    color: #F2644F;
    /*place-items: center;*/
    /*text-align: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

div.slide p {
    font-size: 36px;
}

li {
    font-size: 36px;
}

body {
    background-color: #000000;
}